<div class="container my-5">
    <h1 class="text-center">Our Services</h1>
    <p class="lead text-center">See how we can help you achieve your project goals.</p>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="p-4 border bg-light text-center">
                <h5>Web Development</h5>
                <p>Build responsive, modern websites using Bootstrap and other tools.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-4 border bg-light text-center">
                <h5>UX/UI Design</h5>
                <p>Create intuitive, attractive designs that enhance user experience.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-4 border bg-light text-center">
                <h5>Consulting</h5>
                <p>Receive expert advice and guidance to optimize your development process.</p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="p-4 border bg-light text-center">
                <h5>SEO Services</h5>
                <p>Boost your search engine rankings with our SEO optimization services.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-4 border bg-light text-center">
                <h5>Content Creation</h5>
                <p>Engage your audience with high-quality content tailored to your brand.</p>
            </div>
        </div>
    </div>
</div>
